body {
    margin: 0;
}

main{
    height: 600px;
    width: 1216px;
    background-color: black;
}

.block{
    float: left;
}
    

#block-geel{
    height: 600px;
    width: 400px;
    background-color: yellow;
}

#block-wit{
    height: 600px;
    width: 200px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

#block-rood{
    height: 600px;
    width: 600px;
    background-color: red;
}
